Importing Libraries

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime
import warnings
import itertools
import statsmodels.api as sm
import seaborn as sns

Importing the Dataset

In [10]:
data=pd.read_excel("Crude Oil Prices Daily.xlsx")

In [3]:
data.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87

In [4]:
data.to_csv ("crude_oil_price_daily.csv", index = None, header=True)

In [5]:
df=pd.read_csv('crude_oil_price_daily.csv')

In [6]:
df.head()

         Date  Closing Value
0  1986-01-02          25.56
1  1986-01-03          26.00
2  1986-01-06          26.53
3  1986-01-07          25.85
4  1986-01-08          25.87

Handling Missing Data

In [11]:
data.isnull().any()

Date             False
Closing Value     True
dtype: bool

In [12]:
data.isnull().sum()

Date             0
Closing Value    7
dtype: int64

In [13]:
data.dropna(axis=0,inplace=True)

In [14]:
data.isnull().sum()

Date             0
Closing Value    0
dtype: int64

Feature Scaling

In [15]:
oil_price=data.reset_index()['Closing Value']
oil_price

0       25.56
1       26.00
2       26.53
3       25.85
4       25.87
        ...
8211    73.89
8212    74.19
8213    73.05
8214    73.78
8215    73.93
Name: Closing Value, Length: 8216, dtype: float64

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
oil_price=scaler.fit_transform(np.array(oil_price).reshape(-1,1))