In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime
import warnings
import itertools
import statsmodels.api as sm
import seaborn as sns

In [2]:
data=pd.read_excel("Crude Oil Prices Daily.xlsx")

In [3]:
data.head()

        Date  Closing Value
0 1986-01-02          25.56
1 1986-01-03          26.00
2 1986-01-06          26.53
3 1986-01-07          25.85
4 1986-01-08          25.87

In [4]:
data.to_csv ("crude_oil_price_daily.csv", index = None, header=True)

In [5]:
df=pd.read_csv('crude_oil_price_daily.csv')

In [6]:
df.head()

         Date  Closing Value
0  1986-01-02          25.56
1  1986-01-03          26.00
2  1986-01-06          26.53
3  1986-01-07          25.85
4  1986-01-08          25.87